body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: #333;
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    width: 1080px;
    max-width: 1200px;
    margin: 20px auto;
}

#weather, #map {
    flex: 1 1 45%;
    width: 200px;
    height: 480px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
}

#weather {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
}

#weather h2 {
    margin-top: 0;
    color: #333;
    font-size: 32px;
}

#weather p {
    margin: 4px 0;
    color: #666;
    font-size: 24px;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

#controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#controls button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#notification {
    margin: 20px 0;
    color: red;
    font-weight: bold;
}

#fuelInputContainer {
    text-align: center;
}

#fuelInputContainer label {
    font-size: 18px;
    margin-right: 10px;
}

#fuelInputContainer input {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 80px;
    text-align: center;
}

#fuelConsumptionResult {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

/* Стилі для екранів шириною до 600px (мобільні пристрої) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 18px;
    }

    .container {
        width: 90%;
        max-width: 90%;
        margin: 20px auto;
        flex-direction: column;
    }

    #weather, #map {
        width: 100%;
        min-width: 100%;
        margin-bottom: 10px;
    }

    #weather {
        padding: 10px;
        font-size: 18px;
    }

    #weather h2 {
        font-size: 20px;
    }

    #weather p {
        margin: 3px 0;
    }

    #controls button {
        padding: 15px 30px;
        font-size: 14px;
    }
}

/* Стилі для початкової сторінки */
#introPage {
    background-color: #007bff;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introPage h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

#introPage p {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 600px;
}

#startButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s, transform 0.3s;
}

#startButton:hover {
    background-color: #218838;
    transform: scale(1.1);
}
